pkgbase = mongodb-compass-bin
	pkgdesc = The official GUI for MongoDB - binary version
	pkgver = 1.48.2
	pkgrel = 1
	url = https://www.mongodb.com/products/compass
	arch = x86_64
	license = SSPL-1.0
	depends = c-ares
	depends = dav1d
	depends = flac
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = icu
	depends = libdrm
	depends = libevent
	depends = libffi
	depends = libjpeg
	depends = libpng
	depends = libpulse
	depends = libwebp
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = nss
	depends = opus
	depends = zlib
	depends = krb5
	depends = libsecret
	optdepends = org.freedesktop.secrets
	provides = mongodb-compass=1.48.2
	conflicts = mongodb-compass
	options = !debug
	backup = etc/mongodb-compass.conf
	source = mongodb-compass-bin-1.48.2.rpm::https://downloads.mongodb.com/compass/mongodb-compass-1.48.2.x86_64.rpm
	source = mongodb-compass.conf
	b2sums = 974fabdcdb9ab1d64de4a064ba4060c716a2bf9f42ab7b736da92fe08c086304a800abfb2ce17e1d0389f9f6fdb0ad8a22e768bff8ca2d377745fcb887a821fa
	b2sums = 42535bfc10db335d685fad29aade1d091554a321fb4032b72db5699a450c6d701f630c45bb0d4cf9f456e77e3263a5aed49e843516cd3016d1a837ac5f1e6fec

pkgname = mongodb-compass-bin
