pkgbase = mongodb-compass-bin
	pkgdesc = The official GUI for MongoDB - binary version
	pkgver = 1.46.3
	pkgrel = 1
	url = https://www.mongodb.com/products/compass
	arch = x86_64
	license = SSPL-1.0
	depends = c-ares
	depends = dav1d
	depends = flac
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = icu
	depends = libdrm
	depends = libevent
	depends = libffi
	depends = libjpeg
	depends = libpng
	depends = libpulse
	depends = libwebp
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = nss
	depends = opus
	depends = zlib
	depends = krb5
	depends = libsecret
	optdepends = org.freedesktop.secrets
	provides = mongodb-compass=1.46.3
	conflicts = mongodb-compass
	options = !debug
	backup = etc/mongodb-compass.conf
	source = mongodb-compass-bin-1.46.3.rpm::https://downloads.mongodb.com/compass/mongodb-compass-1.46.3.x86_64.rpm
	source = mongodb-compass.conf
	b2sums = 00d4257265ac0143ca325cef58ab36c9040cea987822d0f4f11f05b45e83d666e79dbfa013963538b2c90843290cb462790dc89b35ae9e749a401e287a1aa597
	b2sums = 42535bfc10db335d685fad29aade1d091554a321fb4032b72db5699a450c6d701f630c45bb0d4cf9f456e77e3263a5aed49e843516cd3016d1a837ac5f1e6fec

pkgname = mongodb-compass-bin
