pkgbase = mongodb-compass-bin
	pkgdesc = The official GUI for MongoDB - binary version
	pkgver = 1.49.1
	pkgrel = 1
	url = https://www.mongodb.com/products/compass
	arch = x86_64
	license = SSPL-1.0
	depends = c-ares
	depends = dav1d
	depends = flac
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = icu
	depends = libdrm
	depends = libevent
	depends = libffi
	depends = libjpeg
	depends = libpng
	depends = libpulse
	depends = libwebp
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = nss
	depends = opus
	depends = zlib
	depends = krb5
	depends = libsecret
	optdepends = org.freedesktop.secrets
	provides = mongodb-compass=1.49.1
	conflicts = mongodb-compass
	options = !debug
	backup = etc/mongodb-compass.conf
	source = mongodb-compass-bin-1.49.1.rpm::https://downloads.mongodb.com/compass/mongodb-compass-1.49.1.x86_64.rpm
	source = mongodb-compass.conf
	b2sums = a3d542c8b449ae9a788cc21c568be998a53fa63d8424c41ed2c2d65702292d8757c9860accbdc179f51b03aada5725da940b05384804c97eda6b27106c0f40f3
	b2sums = 42535bfc10db335d685fad29aade1d091554a321fb4032b72db5699a450c6d701f630c45bb0d4cf9f456e77e3263a5aed49e843516cd3016d1a837ac5f1e6fec

pkgname = mongodb-compass-bin
