pkgbase = mongodb-compass-bin
	pkgdesc = The MongoDB GUI
	pkgver = 1.49.1
	pkgrel = 1
	url = https://www.mongodb.com/products/compass
	arch = x86_64
	license = SSPL-1.0
	depends = alsa-lib
	depends = gtk3
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	optdepends = org.freedesktop.secrets
	noextract = mongodb-compass_1.49.1_amd64.deb
	options = !debug
	source = https://downloads.mongodb.com/compass/mongodb-compass_1.49.1_amd64.deb
	source = https://github.com/mongodb-js/compass/raw/main/LICENSE
	b2sums = b7ed5fd73c30dc5f161eb46eb0e186f71d6fb081378128d8d576f1d12cd265d92950e77a4fb647c8b6fb5d7e46db4519d8d61f6066c76da98defb4194fca8f8b
	b2sums = 3db19ea220a8fec79eb55aa2657a3d9c920cf9eaa4ed6737e4a4688e1ba573c36d7de1b52a165340f61c740dfda98f656596b0d8b9f3492cffa0f4e418bf7ef3

pkgname = mongodb-compass-bin
