pkgbase = mongodb-compass-bin
	pkgdesc = The MongoDB GUI
	pkgver = 1.46.7
	pkgrel = 1
	url = https://www.mongodb.com/products/compass
	arch = x86_64
	license = SSPL-1.0
	depends = alsa-lib
	depends = gtk3
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	optdepends = org.freedesktop.secrets
	noextract = mongodb-compass_1.46.7_amd64.deb
	options = !debug
	source = https://downloads.mongodb.com/compass/mongodb-compass_1.46.7_amd64.deb
	source = https://github.com/mongodb-js/compass/raw/main/LICENSE
	b2sums = e2689038bf7b2cf077e3bb78629203cf8998ec231712135424e2a2283c27260baec57c82c6d82b367486ba2abdde45da3b5f91d78775f68bb0cd42b06329e095
	b2sums = 3db19ea220a8fec79eb55aa2657a3d9c920cf9eaa4ed6737e4a4688e1ba573c36d7de1b52a165340f61c740dfda98f656596b0d8b9f3492cffa0f4e418bf7ef3

pkgname = mongodb-compass-bin
